<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: #000;">Welcome to the Canadian Design Workshop</h2>
                </div>
            </div>
            <div class="row container">
                <p class="text-center" style="color: #000;">The Canadian Design Workshop (CDW) is a biennial gathering of design educators and researchers from across Canada to <strong>advance engineering design education</strong> in Canada.
                </p>
                <p class="text-center" style="color: #000;">After three successful <a href="https://uwaterloo.ca/canadian-design-workshop/past-workshops">prior events</a>, the Canadian Design Workshop will be back in 2026. Participants at CDW will share ongoing design education research from institutions across Canada, establish a collective research agenda, sustain continued and increased collaboration to grow Canadian capacity in this area.</p>
                <p class="text-center" style="color: #000;">More details about the 2026 Workshop will be announced soon.</p>
                 <center class="hidden"><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>